In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("SampleSuperstore.csv")
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [4]:
inputs = df.drop('Profit',axis='columns')

In [5]:
target = df['Profit']

In [6]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [7]:
inputs['Segment_n'] = le_company.fit_transform(inputs['Segment'])
inputs['City_n'] = le_job.fit_transform(inputs['City'])

In [8]:
inputs

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Segment_n,City_n
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,0,194
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,0,194
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,1,266
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,0,153
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,0,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,0,295
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,0,104
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,0,104
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,0,104
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,0,517

In [9]:
inputs_n = inputs.drop(['Segment','City'],axis='columns')

In [10]:
inputs_n

,Ship Mode,Country,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Segment_n,City_n
0,Second Class,United States,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,0,194
1,Second Class,United States,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,0,194
2,Second Class,United States,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,1,266
3,Standard Class,United States,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,0,153
4,Standard Class,United States,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,0,153
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,United States,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,0,295
9990,Standard Class,United States,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,0,104
9991,Standard Class,United States,California,92627,West,Technology,Phones,258.5760,2,0.20,0,104
9992,Standard Class,United States,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,0,104
9993,Second Class,United States,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,0,517

In [11]:
target

0        41.9136
1       219.5820
2         6.8714
3      -383.0310
4         2.5164
          ...
9989      4.1028
9990     15.6332
9991     19.3932
9992     13.3200
9993     72.9480
Name: Profit, Length: 9994, dtype: float64

In [12]:
from sklearn import tree

In [13]:
model = tree.DecisionTreeClassifier()